<html>

<head>
    <script src="vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="app">
        <div class="custom-select">
            <div v-for="breed in breeds" v-on:click="selectBreed(breed)" :class="[{selected:selectedBreeds.includes(breed)}, 'option']">{{breed}}</div>
        </div>
        <list :dogge-list="selectedBreeds"></list>
    </div>
    <template id="list-template">
        <div :class="input">
            <div v-for="bred in doggeList" class="option"> {{bred}}</div>
        </div>
    </template>
    <script>
        Vue.component('list', {
            props: {
                doggeList: {},
                input: {
                    default: "custom-select"
                }
            },
            template: '#list-template'
        })
        var app = new Vue({
            el: '#app',
            data: {
                breeds: [],
                selectedBreeds: []
            },
            mounted() {
                fetch("https://dog.ceo/api/breeds/list/all")
                    .then(
                        function (response) {
                            if (response.status !== 200) {
                                console.log('Looks like there was a problem. Status Code: ' +
                                    response.status);
                                return;
                            }

                            response.json().then(function (data) {
                                app.breeds = Object.keys(data.message);
                            });
                        }
                    )
                    .catch(function (err) {
                        console.log('Fetch Error :-S', err);
                    });
            },
            methods: {
                selectBreed: function (breed) {
                    if (app.selectedBreeds.includes(breed)) {
                        app.selectedBreeds.splice(app.selectedBreeds.indexOf(breed), 1);

                    } else {
                        app.selectedBreeds.push(breed);
                    }

                }
            }
        });
    </script>
</body>

</html>